/results/
/ENCODE_ATAC_files/
/Gloria_paper_supplemental/
/Gloria_paper_supplemental (2)/
/.nextflow/
/work/
/fastas/
/.ipynb_checkpoints/
/dispot_test/
/ENSG00000126456/
/ENSG00000185507/
/media-1/
/scratch/
/TF_beds/
/TF_fastqs/
