conda.enabled = true

executor {
    queueSize = 4
}
process {
    cpus = 1
}

params {
    genes_file = "expressed_coding_isoforms_with_relative_tpm_threshold_1_geneIDs.txt"
    binding_site_file = "../../../ppi_binding_sites.tsv"
    cds_fasta_file = "../../../Homo_sapiens.GRCh38.cds.all.fa.gz"
    uniprot_mapping_file = "../../../Homo_sapiens.GRCh38.109.uniprot.tsv.gz"
    gtf_file = "../../../Homo_sapiens.GRCh38.109.gtf.gz"
    interpro_domains_file = "../../../Homo_sapiens.GRCh38.interpro_domains.tsv.gz"
}